<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class='message-content'>
  <p>Hello, {{name}}</p>
  <p>It seams that a password change was requested to your account</p>
  <p>If it was you, click on link bellow in order to choose a new password:</p>
  <p>
    <a href="{{link}}">Reset my password</a>
  </p>

  <p>
    If it was not you, ignore this e-mail!
  </p>
  <p>
    Thank you!
    <br />
    <strong>GoBarber Team</strong>
  </p>
</div>
